fastapi
uvicorn
python-dotenv
pymupdf
unstructured
unstructured[pdf]
pillow
langchain
langchain-community
faiss-cpu
sentence-transformers
transformers
torch
pydantic
tqdm
numpy
langchain
langchain-community
langchain-core
transformers
sentence-transformers
faiss-cpu
torch